.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #f15f30, #e93b2b);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    padding: 0;
    margin: 4px 0 0 0;
    display: flex;
    align-items: center;
}

.navbar-item {
    margin: 0 8px;
    min-height: 26px;
    position: relative;
}

.navbar-icon-link:hover,
.navbar-item:hover .navbar-item-link,
.navbar-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7)
}

.navbar-item, 
.navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar-item,
.navbar-item-link,
.navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.navbar-item--notify:hover .notify {
    display: block
}

.navbar-item--strong {
    font-weight: 400;
}

.navbar-item--seperate::after {
    content: "";
    display: block;
    height: 1.4rem;
    width: 1px;
    background-color: var(--white-color);
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-item-user:hover .navbar-user-menu-list {
    display: block;
}

.navbar-user-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 0 4px
}

.navbar-user-menu-list {
    position: absolute;
    z-index: 1;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    padding: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    animation: growthFromTopLeft .2s ease-in;
    transform-origin: calc(100% - 36px) top;
    display: none;
}

.navbar-user-menu-list::after {
    content: "";
    position: absolute;
    top: -18px;
    right: 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    border-width: 10px 15px;
}

.navbar-user-menu-item a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 12px;
}

.navbar-user-menu-item--seperate {
    border-top: 1px solid rgb(235, 233, 233);
}

.navbar-user-menu-item a:hover {
    background-color: rgb(241, 238, 238);
}

.navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar-icon-link:nth-child(2) {
    margin-left: 4px;
}

.navbar-icon {
    margin: 0 4px;
    font-size: 1.8rem;
}

.navbar-no-pointer {
    cursor: text;
    color: var(--white-color)
}

.navbar-qr {
    position: absolute;
    top: 120%;
    left: 0;
    width: 186px;
    padding: 8px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn ease-in 1s;
}

.navbar-qr:before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: -16px;
}

.navbar-fade-in-qr:hover .navbar-qr {
    /* display: block; */
}

.qr-img {
    width: 100%;
}

.qr-link:first-child {
    margin-left: 11px;
}

.qr-link:last-child {
    margin-right: 11px;
}

.qr-wrap-store {
    display: flex;
    justify-content: space-between;
}

.qr-store-img {
    height: 16px;
}

.notify {
    cursor: default;
    width: 400px;
    position: absolute;
    background-color: var(--white-color);
    top: 120%;
    right: 0;
    border: 1px solid #e5e5e5;
    transform-origin: calc(100% - 40px) top;
    animation: growthFromTopLeft ease-in 0.2s;
    display: none;
    z-index: 1;
    border-radius: 2px;
}

.notify::after {
    content: "";
    display: block;
    border: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -28px;
    right: 10px;
}

.notify::before {
    content: "";
    width: 100%;
    height: 25px;
    position: absolute;
    top: -20px;
    left: 0;
}

.notify-header {
    height: 40px;
}

.notify-header h3 {
    margin: 0 0 0 8px;
    line-height: 40px;
    color: #c9c5c5;
    font-size: 1.4rem;
    font-weight: 400;
    user-select: none;
}

.notify-list {
    padding-left: 0;
    overflow-y: auto;
    height: 65vh;
}

.notify-item {
    padding: 8px;
}

.notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.1);
}

.notify-item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.notify-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: center;
}

.notify-info {
    margin-left: 8px;
}

.notify-name {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
}

.notify-desc {
    font-size: 1.2rem;
    color: #756F6E;
    margin-top: 4px;
}

.notify-footer {
}

.notify-footer-link {
    text-decoration: none;
    padding: 8px 0;
    display: block;
    text-align: center;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 16px 24px 0 24px;
    overflow: hidden;
}

.auth-form__header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2rem;
}

.auth-form__switch {
    color: red;
    font-size: 1.6rem;
    font-weight: 600;
}

.auth-form__body {
    margin-top: 16px;
}

.auth-form__group {
    margin-bottom: 12px;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    outline: none;
}

.form-control:focus {
    border: 1px solid #777;
}

.auth-form__policy {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 32px;
}

.auth-form__policy-link {
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__footer {
    margin: 21px -24px 0 -24px;
    background-color: #f1dada;
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
}

.auth-form__footer-link {
    padding: 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
}

.auth-form__footer-link span {
    font-size: 1.3rem;
    margin: 0 32px;
}

.auth-form__footer-fb {
    background-color: #272795;
    color: var(--white-color);
}

.auth-form__footer-gg {
    background-color: var(--white-color);
    color: var(--text-color);
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__mobile-search {
    display: none;
}

.header__mobile-search i {
    font-size: 2.6rem;
    color: var(--white-color)
}

.header__logo {
    display: inline-block;
    margin-left: 8px;
    width: 150px;
    text-decoration: none;
    color: transparent;
    line-height: 0;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    flex: 1;
    margin: 0 0 0 48px;
}

.header__search-input-wrap {
    position: relative;
    flex: 1;
    height: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    padding: 8px;
    outline: none;
    border: none;
    font-size: 1.6rem;
    border-radius: 2px;
}

.header__search-input:focus + .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow: 0 1px 4px rgb(194, 188, 188);
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.header__search-history-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__search-history-heading {
    padding: 8px 12px 12px 12px;
    font-size: 1.4rem;
    color: #888;
}

.header__search-history-item {
    padding: 8px 12px;
    font-size: 1.4rem;
    color: var(--text-color)
}

.header__search-history-item:hover {
    background-color: #f5f0f0;
}

.header__search--separate {
    width: 1px;
    background-color: rgb(224, 214, 214);
    height: 18px;
    margin: 0 16px;
}

.header__search-select {
    position: relative;
    font-size: 1.4rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-icon {
    font-size: 1rem;
    margin: 0 8px;
}

.header__search-option {
    position: absolute;
    background-color: var(--white-color);
    width: 140%;
    right: 0;
    top: calc(100% + 2px);
    margin: 0;
    padding: 0;
    border: 1px solid #ebe8e8;
    border-top: none;
    display: none;
    z-index: 1;
}

.header__search-option-item {
    list-style-type: none;
    padding: 8px 16px;
}

.header__search-option-checked-icon {
    color: var(--primary-color);
    margin-left: 12px;

}

.header__search-icon {
    display: flex;
    width: 60px;
    height: 34px;
    border-radius: 2px;
    margin-right: 4px;
    background-color: var(--primary-color);
}

.search-icon {
    margin: auto;
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__search-icon:hover {
    cursor: pointer;
    background-color: #e6816d;
}

.header__cart {
    width: 150px;
    font-size: 2.4rem;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon-wrap {
    position: relative;
    display: inline-block;
    padding: 4px 6px;
    cursor: pointer;
}

.header__cart-icon-wrap:hover .header__cart-list {
    display: block;
    z-index: 1;
}

.header__cart-icon-wrap::after {
    content: "3";
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    padding: 1px 7px;
    border-radius: 50%;
    top: -9px;
    right: -10px;
    border: 2px solid #eb5b3f;
}

.header__cart-icon-wrap:hover {}

.header__cart-icon-wrap i {
    color: var(--white-color);
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 10px rgb(214, 212, 212);
    display: none;
    animation: growthFromTopLeft .2s ease-in;
    transform-origin: calc(100% - 24px) top;
    z-index: 1;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 14px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -21px;
    right: -1px;
    cursor: pointer;
}

.header__cart-list-no-card {
    cursor: default;
}

.header__cart-list-no-card .header__cart-list-no-card-img,
.header__cart-list-no-card .header__cart-list-no-card-msg {
    display: block;
}

.header__cart-list-no-card-img {
    --width: 200px;
    margin: 16px auto;
    width: var(--width);
    height: var(--width);
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/cart/9bdd8040b334d31946f49e36beaf32db.png);
    background-size: contain;
    background-position: center;
    display: none;
}

.header__cart-list-no-card-msg {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 8px 0;
    display: none;
}

.header__cart-list-heading {
    font-size: 1.4rem;
    padding: 8px 12px;
    text-align: initial;
    color: rgb(179, 177, 177);
}

.header__cart-list-item {
    padding: 0;
    margin: 0;
    max-height: 70vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
    padding: 12px 12px;
    text-align: initial;
}

.header__cart-item:hover {
    background-color: rgb(218, 214, 214);
    cursor: pointer;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    flex: 1;
    margin-left: 12px;
}

.header__cart-item-head {
    display: flex;
    justify-content: left;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color)
}

.header__cart-item-name {
    padding-right: 8px;
    flex: 1;
    color: #444;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    max-height: 2.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price {
    color: var(--primary-color)
}

.header__cart-item-multi {
    font-size: 0.9rem;
    margin: 0 8px;
}

.header__cart-item-body {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-desc {
    font-weight: 300;

}

.header__cart-item-delete {
    font-size: 1.4rem;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__sort-bar {
    height: var(--sort-bar-height);
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--white-color);
    display: none;
}

.header__sort-item {
    text-align: center;
    flex: 1;
    position: relative;
}

.header__sort-item + .header__sort-item::before {
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background-color: #e5e5e5;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__sort-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: var(--sort-bar-height);;
}
.container {
    background-color: #f5f5f5;
}

.pt-24px {
    padding-top: 24px;
}

.home-category {
    background-color: var(--white-color);
}

.home-category__heading {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 8px;
}

.home-category__heading span {
    margin-left: 6px;
}

.home-category__list {
    list-style: none;
    padding: 0;
    margin-left: 8px;
}

.home-category-item {
    position: relative;
}

.home-category-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 0 8px 12px;
    transition: transform .1s linear;
}

.home-category-item a:hover {
    background-color: #EBEBEB;
    color: var(--primary-color);
    transform: translateX(4px);
}

.home-category-item--active a {
    color: var(--primary-color);
}

.home-category-item--active::after {
    content: "";
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.home-filter {
    display: flex;
    align-items: center;
    background-color: #ededed;
    padding: 12px 24px;
    color: var(--text-color);
}

.home-filter__btn {
    min-width: 100px;
    margin-right: 8px;
    background-color: var(--white-color);
}

.home-filter__label {
    font-size: 1.5rem;
    margin-right: 8px;
}

.home-filter__paginate {
    margin: 0 8px 0 auto;
    font-size: 1.5rem;
}

.home-filter__paginate-current {
    color: var(--primary-color)
}

.home-filter__pre-page {
    font-size: 1.5rem;
    width: 36px;
    height: 36px;
    margin-left: 8px;
    background-color: var(--white-color);
    display: flex;
    border-right: 1px solid rgb(201, 187, 187);
}

.home-filter__pre-page  i {
    margin: auto;
}

.home-filter__pre-page--active.home-filter__pre-page {
    color: var(--primary-color)
}

.home-filter__next-page {
    font-size: 1.5rem;
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    display: flex;
}

.home-filter__next-page  i {
    margin: auto;
}

.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    overflow-x: auto;
    padding: 0 12px;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    width: 110px;
    border-radius: 6px;
}

.mobile-category__item:nth-of-type(3n + 1) {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) {
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) {
    background-color: #88CF81;
}

.mobile-category__item + .mobile-category__item {
    margin-left: 10px;
}

.mobile-category__item-link {
    --line-height: 2rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 300;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 4px;
}


.home-product {
    margin-bottom: 10px;
}

.product-item {
    background-color: var(--white-color);
    color: var(--text-color);
    border: 1px solid #e4e1e1;
    margin-top: 10px;
    transform: translateY(0);
    transition: transform .1s linear;
    position: relative;
    display: block;
    text-decoration: none;
}

.product-item:hover {
    transform: translateY(-2px);
    border: 1px solid var(--primary-color);
}

.product-item__img {
    padding-top: 100%;
    background-size: cover;
    background-position: top;
}

.product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 10px 6px;
    margin: 0;
}

.product-item__price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 6px;
}

.product-item__old-price {
    font-size: 1.4rem;
    margin-left: 10px;
    text-decoration: line-through;
    position: relative;
}

.product-item__current-price {
    font-size: 1.6rem;
    color: var(--primary-color);
    flex: 1;
    text-align: center;
}

.product-item__action {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.product-item__action i:first-child {
    font-size: 1.2rem;
}

.fa-solid.fa-heart.active {
    color: var(--primary-color);
}

.product-item__action-star {
    margin-left: auto;
}

.fa-solid.fa-star {
    color: rgb(214, 210, 210);
}

.fa-solid.fa-star.active {
    color: #ffce3e;
}

.product-item__action-solded {
    margin-left: 10px;
    font-size: 1.2rem;
}

.product-item__origin {
    display: flex;
    margin: 3px 10px 3px 10px;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 300;
    color: #888;
}

.product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: #EE4D2D;
    line-height: 1.7rem;
    font-size: 1.2rem;
    font-weight: 500;
    width: auto;
    padding-right: 7px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.product-item__favourite::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(0.6);
}

.product-item__favourite i {
    color: var(--white-color);
    font-size: 1rem;
}

.product-item__favourite span {
    color: var(--white-color);
}

.product-item__discount {
    position: absolute;
    top: 0;
    right: 0;
    color: #FFDA4B;
    background-color: currentColor;
    padding: 2px 5px;
    text-align: center;
    width: 40px;
}

.product-item__discount::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-width: 0 20px 6px;
    border-color: transparent currentColor transparent currentColor;
    border-style: solid;
}

.product-item__percent-discount {
    color: #E3532E;
    font-size: 1.1rem;
    font-weight: 600;
}

.product-item__label-discount {
    color: var(--white-color);
    font-size: 1.2rem;
}

.home-product__pagiantion {
    margin-top: 50px;
}

.footer-content {
    padding: 0 12px;;
}

.footer-column__heading {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333333;
}

.footer-column__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    line-height: 2.4rem;
}

.footer-column__item-link {
    display: flex;
    text-decoration: none;
    color: #737373;
}

.footer-column__item-link:hover {
    color: var(--primary-color);
}

.footer-column__item-link i {
    font-size: 1.6rem;
    margin-right: 6px;
    margin-top: 4px;
}

.copyright {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: #9d9a9a;
    color: #fff;    
}

.qr-store-wrap {
    display: flex;
}

.footer-column__qr {
    width: 80px;
}

.footer-column__store {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    max-width: 150px;
}

.footer-column__store a {
    padding: 3px;
}

.footer-column__store-img {
    width: 100%;
}